<header>
    <div class="overlay">
        <div class="tollbar-content">
            <img width="320" alt="Digimon Logo" src="../assets/logo.png" />
        </div>

        <h1>Teste Angular</h1>
        <h3>Bem vindo ao Digimundo!</h3>
        <br>

        <form (ngSubmit)="searchByName()" class="search-form">
            <mat-form-field class="mat-form-field">
                <span matPrefix> </span>
                <input class="input-search" type="search" matInput placeholder="Procure o Digimon pelo nome..."
                    name="search" [(ngModel)]="name" (ngModelChange)="onModelChange()">
            </mat-form-field>
            <br>
            <button class="btn-search">Buscar</button>
        </form>
    </div>
</header>

<div class="content" role="main">
    <h3 id="anchor-title" class="level-title-top">Ou procure por nível!</h3>
    <div class="arrow">
        <span></span>
    </div>
    <!-- Menu Select Level -->
    <mat-button-toggle-group #group="matButtonToggleGroup" class="select-level" [value]="selectLevel"
        (change)="onLevelChange(group.value)">
        <mat-button-toggle value="" aria-label="Todos">
            <img width="60" alt="Todos" src="../assets/fav.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Fresh" aria-label="Fresh">
            <img width="60" alt="Fresh" src="../assets/level 1.png" />
        </mat-button-toggle>
        <mat-button-toggle value="In Training" aria-label="In Training">
            <img width="60" alt="In Training" src="../assets/level 2.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Rookie" aria-label="Rookie">
            <img width="60" alt="Rookie" src="../assets/level 3.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Champion" aria-label="Champion">
            <img width="60" alt="Champion" src="../assets/level 4.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Ultimate" aria-label="Ultimate">
            <img width="60" alt="Ultimate" src="../assets/level 5.png" />
        </mat-button-toggle>
        <mat-button-toggle value="Mega" aria-label="Mega">
            <img width="60" alt="Mega" src="../assets/level 6.png" />
        </mat-button-toggle>
    </mat-button-toggle-group>
    <h3 class="level-title-bottom">{{group.value}}</h3>

    <!-- Not found -->
    <ng-container class="container" *ngIf="showNotfound">
        <h3 class="not-found">Não foi encontrado nenhum digimon!</h3>
        <img width="200" alt="Not Found" src="../assets/not-found.png" />
    </ng-container>

    <!-- Cards -->
    <div class="card-container">
        <mat-card class="card" *ngFor="let digimon of dataSource; index as i;">
            <mat-card-header>
                <mat-card-title>{{digimon.name}}</mat-card-title>
                <mat-card-subtitle [ngClass]="{ 
                        level1: digimon.level === 'Fresh', 
                        level2: digimon.level === 'In Training', 
                        level3: digimon.level === 'Rookie', 
                        level4: digimon.level === 'Champion', 
                        level5: digimon.level === 'Ultimate', 
                        level6: digimon.level === 'Mega'}">
                    {{digimon.level}}
                </mat-card-subtitle>
            </mat-card-header>
            <img class="card-img" width="175" mat-card-image src={{digimon.img}} alt={{digimon.name}}>
            <mat-card-content>
                <p class="card-span" *ngIf="digimon.level === 'Fresh'">
                    Sem desenvolvimento, sem capacidade
                    ofensiva e depende de cuidados.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'In Training'">
                    Início do desenvolvimento, usa ataques básicos e é incapaz de lutar.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Rookie'">
                    Desenvolveu o tamanho e a inteligência. É capaz de lutar com uma variedade maior de
                    ataques.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Champion'">
                    Evolução máxima para a maioria dos Digimons. Possui grandes dimensões e geralmente
                    é um líder.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Ultimate'">
                    Sobreviveu ao desgaste da evolução, se tornou poderoso e pode usar ataques
                    devastadores.
                </p>
                <p class="card-span" *ngIf="digimon.level === 'Mega'">
                    Auge da evolução. É extremamente raro, fez a história do Digimundo e possui um
                    poder imensurável.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <br>

    <!-- Tabela -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Img </th>
            <td mat-cell *matCellDef="let element">
                <img width="175" alt={{element.name}} src={{element.img}} />
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Level </th>
            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

    <ng-container *ngIf="showLoad" class="container">
        <img class="img-loading" width="150" alt="Carregando..." src="../assets/load.webp" />
        <span class="loading">Carregando...</span>
    </ng-container>

    <form *ngIf="showBtn" (ngSubmit)="getMoreResults()" class="search-form">
        <button class="btn-load">Carregar mais digimons</button>
    </form>

    <!-- Footer -->
    <footer id="anchor-footer">
        <div class="text-center p-3">
            © {{date | date:'longDate'}} - Author:
            <a class="text-white" href="https://github.com/kayque-willy">Kayque Oliveira</a>
        </div>
    </footer>
</div>