* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background: url("../../../../assets/header.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 23%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient(135deg, #9f05ff69 10%, #2108fd6b 100%); */
    background-image: linear-gradient(135deg, #9f05ff69 10%, rgba(27, 31, 35, 0.2) 100%);
}

h1 {
    font-family: "Dancing Script", sans-serif;
    font-size: 4em;
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    margin: 8px 0;
}

h2 {
    margin-top: 4%;
}

p {
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 30px;
    margin: 0;
}

h3 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1%;
}

.spacer {
    flex: 1;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #0095ff;
    margin-bottom: 0;
    box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
    cursor: pointer;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.tollbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1%;
    margin-top: -1.5%;
}

.content {
    color: #3f51b5;
    display: flex;
    padding: 0 16px;
    min-height: 650px;
    flex-direction: column;
    align-items: center;
    margin-top: -11%;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-img {
    border: 2px solid #ebebeb63;
    border-radius: 20px;
    max-width: 80%;
}

.card-span {
    background-image: linear-gradient(to bottom right, #fdfcfb, #c3c3e2);
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: justify;
    padding: 2%;
    margin-top: 2%;
    text-shadow: 0 0 #000000c7;
}

.card {
    border-radius: 30px;
    border: 2px solid #9595954d;
    background-image: linear-gradient(to bottom right, #fdfcfb, #c3e1e2);
    max-width: 15em;
    margin: 0 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 18px;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 10px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 2px;
    text-align: center;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.table {
    margin-top: 1%;
}

.select-level {
    margin-top: 13%;
}

.mat-button-toggle-appearance-standard {
    background: #cbcbcb73;
}

.mat-button-toggle-checked {
    background-color: #e0e0e0 !important;
}

.mat-form-field {
    width: 60%;
    border-radius: 51%;
}

.btn-search,
.btn-load {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.btn-load {
    margin-bottom: 15%;
}

.input-search {
    text-align: center;
}

.level-title-top {
    text-shadow: 1px 1px 1px #333;
    margin-top: 12%;
    margin-bottom: -12%;
}

h3.not-found,
h3.level-title-bottom {
    text-shadow: 1px 1px 1px #333;
}

h3.not-found {
    font-size: 1.8em;
}

.level1,
.level2,
.level3,
.level4,
.level5,
.level6 {
    border-radius: 20px;
}

.level1 {
    background-color: #50ff50;
}

.level2 {
    background-color: #afff5e;
}

.level3 {
    background-color: #ffff49;
}

.level4 {
    background-color: #ffda6b;
}

.level5 {
    background-color: #ffa74f;
}

.level6 {
    background-color: #ff6262;
}

.arrow {
    transform: translate(-50%, -50%);
    padding-bottom: -8%;
    margin-left: 0%;
    margin-top: 14%;
    margin-bottom: -11%;
    padding-bottom: -3%;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

.loading {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    margin-bottom: 1%;
}

/* Animation */
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-7px, -7px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(7px, 7px);
    }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }

    .container {
        margin-top: 6.9%;
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}
